.DS_Store
assets/.DS_Store
application/.DS_Store
application/views/.DS_Store
application/controllers/.DS_Store
.settings/
_database/
system/
user_guide/
.buildpath
.gitignore
.htaccess
.project
index.php
license.txt
README
*Thumbs.db

application/views/themes/.DS_Store
